body {
    max-width: 1360px;

}
.contact-form {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    width: 475px;
    height: 291px;;

        
}

.flex-contact {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 1110px;
    padding-top: 0;

            .rubrik{
                height: 174px;
                max-width: 475px;
                font-family:  "Mulish", serif;
            }
            .text{
                height: 56px;
                width: 445px;
                font-size: 16px;
                color: #111111;
                font-family:  "Mulish", serif;
                opacity: 80%;
            }
        
}
h2 {
    font-size: 40px;

}
input, textarea {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
label {
    opacity: 60%;
}
.submit-btn{
    background-color:#4A4FF2;
    color: white;
    width: 125px;
    height: 50px;
    border: none;


}
.map {
    width: 1110px;
    height: 570px;
}