.project-card {
    background-color: #e49c9c;
    border-radius: 0px;
    object-fit: cover;
    overflow: hidden;
        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    } 


.projects-grid {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    
  
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vh;
  }