nav {
    background-color: red;
    ul {
      list-style: none;
      li {
        display: inline-block;
        a {
          text-decoration: none;
          color: blue;
        }
      }
    }
  }
  