nav {
    display: flex;
    background-color: rgb(220, 175, 175);
    justify-content: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        text-decoration: none;
        a {
          text-decoration: none;
          color: blue;
        }
      }
    }
  }
  