.container-difference{
    display: flex;
    justify-content:left;
    font-family:  "Mulish", serif;
    position: relative;
    right: 50px;
    .container-heading-text{
        width: 635px;
        font-family:  "Mulish", serif;
    }
    .paragraph-differences2{
        width: 635px;
        height: 222px;
    
    .paragraph-differences{
        opacity: 80%;
    }
    }
}

.list-projects{
    display: flex;
    font-size: 18px;
    font-style: bold;
    width: 335px;
    height: 343px;
    position: relative;
    top: 20px;
    left: 90px;
    font-family:  "Mulish", serif;
    
    li{
        list-style: none;
        
    }
    .heading {
        opacity: 50%;
        margin-right: 10px;
        

    }
    .text {
        
    }
}
hr{
    opacity: 40%;
}
.paragraph-between {
    padding: 30px 0;
    font-size: 16px;
    opacity: 60%;
    font-family:  "Mulish", serif;
    width: 1109px;
    height: 93px;
}
.container-three {
    display: flex;
    gap: 30px;
}